<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwvrSyZTnjxME8u3zwNNNO64n7uSUY2Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>390331907236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swe463Project</string>
	<key>PROJECT_ID</key>
	<string>swe463project-55757</string>
	<key>STORAGE_BUCKET</key>
	<string>swe463project-55757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390331907236:ios:dc5a3b38f3554744b0ba31</string>
</dict>
</plist>